body {
	color: #000;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	margin: 30px 30px 30px 355px;
	background: black;
}

table {
	border-radius: 8px;
	background: #fff;
	border: 10px solid #fff;
	margin: 0;
}

.lowbase span {
	opacity: 0.333;
}

.right {
	text-align: right;
}

.initially_hidden {
	display: none;
}

#image_loader {
	width: 1px;
	height: 1px;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.1;
}

#menu_background {
	position: fixed;
	top: 0;
	left: 0;
	width: 325px;
	height: 100%;
	z-index: -100000;
	background: repeating-linear-gradient(45deg, #000 0, #000 30%, transparent 0, transparent 50%), repeating-linear-gradient(135deg, #000 0, #000 30%, transparent 0, transparent 50%);
	background-size: 5em 5em;
	background-color: #060606;
	background-attachment: fixed;
	background: white;
}

#backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 183px;
	width: 325px;
	background: black;
	background-position: center center;
	background-size: cover;
	z-index: -1000;
}

#buttons {
	text-align: center;
	position: fixed;
	top: 185px;
	left: 0px;
	width: 325px;
	padding: 3px 0 16px 0;
	color: #888;
	z-index: -1000;
	font-size: 15px;
}

	#buttons .subtitle {
		width: 100px;
		display: inline-block;
		font-style: normal;
		text-align: left;
		font-size: 100%;
		opacity: 1;
		color: black;
	}

	#buttons span {
		display: block;
		cursor: pointer;
		border-radius: 5px;
		color: #E5007E;
		cursor: zoom-in;
	}

		#buttons span.inline {
			display: inline !important;
			padding: 1px 3px;
		}

		#buttons span:hover {
			background: RGBA(229, 0, 126, 0.25);
		}

		#buttons span.active,
		#buttons span.active:hover {
			color: white;
			background: #E5007E;
			cursor: default;
		}

	#buttons .title {
		padding: 0;
		margin: 15px 0 0 0;
		background: transparent;
		color: black;
		font-weight: 700;
		font-size: 18px;
	}

	#buttons b {
		font-weight: 500;
	}

.chart {
	padding: 1px 0 !important;
}

.bar {
	background: black;
	display: inline-block;
	border-radius: 3px;
	margin-right: 4px;
	z-index: -1000;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
	color: #007EE5;
}

	a:hover {
		color: #004499;
	}

.info {
	background: white;
	color: #333;
	border-radius: 8px;
	padding: 16px;
	display: inline-block;
	margin: 0 0 10px 0;
}

	.info a:hover {
		border-bottom: 2px dotted #333;
	}

p {
	margin: 0;
	padding: 0;
}

/***** TOOLTIP *****/

#tt {
	background: rgba(0, 0, 0, 1);
	text-align: center;
	color: #fff;
	width: 100px;
	top: 0;
	left: 0;
	position: absolute;
	border: 2px solid #fff;
	border-radius: 10px;
	font-size: 13px;
	opacity: 1;
	z-index: 99999;
}

#tooltip_text {
	margin: 5px 5px 5px;
	padding: 0;
	line-height: 1.1em;
	opacity: 1;
}

/**** BORDERS *****/

.gallery,
#main,
#outside,
.info,
.box {
	xborder: 3px solid black;
	xbox-shadow: rgba(255, 255, 255, 0.333) 0 5px 0;
	xmargin-bottom: 16px !important;
}

.box {
	xmargin-bottom: 7px !important;
}

/**** TABLES *****/

#main {
	xpadding: 15px;
}

/**** BOXES *****/

.boxes {
	margin-bottom: 10px;
}

.box {
	background: white;
	border-radius: 8px;
	padding: 5px;
	text-align: center;
	margin-right: 10px;
	display: inline-block;
}

	.box .description {
		padding: 3px 5px;
		margin: 5px 5px 0 5px;
		background: black;
		color: white;
		border-radius: 8px;
		font-weight: 500;
		font-size: 18px;
	}

	.box .number {
		font-size: 300%;
		color: #222;
	}

/***** GALLERY *****/

.gallery {
	background: white;
	margin-bottom: 10px;
	border-radius: 8px;
	padding: 5px 5px 0 5px;
	display: inline-block;
	max-width: 1310px;
}

	.gallery * {
		vertical-align: top;
	}

	.gallery .title {
		padding: 3px 5px;
		margin: 5px 5px 8px 5px;
		background: black;
		color: white;
		border-radius: 8px;
		font-size: 18px;
		font-weight: 500;
	}

	.gallery .item {
		padding: 3px 3px 0;
		display: inline-block;
		width: 125px;
		margin-right: 0;
		margin-bottom: 10px;
		text-align: center;
		border-radius: 8px;
	}

		.gallery .item .empty {
			background: #bbb;
			width: 117px;
			height: 172px;
			border-radius: 5px;
			border: 3px solid black;
		}

		.gallery .item img {
			width: 115px;
			height: 173px;
			border-radius: 5px;
			border: 3px solid black;
		}

			.gallery .item img:hover {
				border: 3px solid #007EE5;
			}

		.gallery .item .details {
			margin: 5px 0 3px;
			font-size: 12px;
		}

/***** CHARTS *****/

#outside {
	background: white;
	border-radius: 8px;
	display: inline-block;
	margin-bottom: 10px;
}

.highcharts-figure {
	border-radius: 8px;
	width: 740px;
}

.highcharts-title {
	fill: black !important;
	color: white;
}

.highcharts-xaxis .highcharts-tick {
	stroke: #888;
}

#outside .title {
	padding: 3px 5px;
	margin: 10px;
	background: black;
	color: white;
	border-radius: 8px;
	font-weight: 500;
	font-size: 18px;
}

.subtitle {
	opacity: 0.7;
	font-size: 70%;
	vertical-align: baseline;
}

/***** MOBILE *****/

@media (max-height: 500px) {
	#backdrop {
		display: none;
	}

	#buttons {
		top: 30px;
		border-radius: 8px;
	}
}

@media (max-width: 900px) {

	body {
		margin: 20px;
	}

	#menu_background,
	#backdrop {
		display: none;
	}

	#buttons {
		position: initial;
		display: block;
		width: initial;
		top: auto;
		left: auto;
		border-radius: 8px;
		margin-bottom: 50px;
		background: white;
		padding-bottom: 22px;
	}
}
