:root {
    --primary-colour: #EF3340;
    --secondary-colour: #EF3340;
}

body {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 30px 30px 30px 355px;
    background: black;
}

table {
    border-radius: 12px 12px 8px 8px;
    background: #fff;
    margin: 0;
}

.tablesorter caption,
.tablesorter th,
.tablesorter thead td,
.tablesorter tbody .topheader td,
.tablesorter tbody .bottomheader td,
.tablesorter tfoot th,
.tablesorter tfoot td {
    background-color: var(--primary-colour);
}

.lowbase span {
    opacity: 0.333;
}

.right {
    text-align: right;
}

.initially_hidden,
.host_only {
    display: none;
}

.mono {
    font-family: monospace;
}

#image_loader {
    width: 1px;
    height: 1px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.1;
}

/***** FRAME *****/

iframe {
    border: 0;
}

/***** DOODLE *****/

css-doodle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999999999;
    color: white;
}

/***** SIDEBAR *****/

#menu_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 325px;
    height: 100%;
    z-index: -100000;
    background: white;
}

#backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 182px;
    width: 325px;
    background-color: #888;
    background-position: center center;
    background-size: cover;
    z-index: -1000;
    filter: grayscale(99%);
}

@keyframes turnToColour {
    from {
        filter: grayscale(99%);
    }

    to {
        filter: grayscale(0%);
    }
}

#backdrop:hover {
    animation-name: turnToColour;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-color: transparent !important;
}

#backdrop.mirror {
    transform: scaleX(-1);
}

#backdrop_details {
    position: absolute;
    top: 187px;
    left: 4px;
    width: 297px;
    background: black;
    padding: 5px;
    color: white;
    display: none;
    text-align: center;
    border: 5px solid white;
    border-radius: 12px;
    font-size: 90%;
}

#backdrop_link:hover + #backdrop_details {
    display: block !important;
}

#buttons {
    user-select: none;
    text-align: center;
    position: fixed;
    top: 185px;
    left: 0px;
    width: 325px;
    padding: 3px 0 16px;
    color: #222;
    z-index: -1000;
    font-size: 15px;
}

#buttons .subtitle {
    width: 100px;
    display: inline-block;
    font-style: normal;
    text-align: left;
    font-size: 100%;
    opacity: 1;
    color: #222;
}

#buttons span {
    display: block;
    border-radius: 5px;
    border: 1px solid transparent;
    color: var(--secondary-colour);
    cursor: zoom-in;
}

#buttons span.inline {
    display: inline !important;
    padding: 1px 3px;
}

#buttons span:hover {
    border: 1px solid var(--secondary-colour);
}

#buttons span.active,
#buttons span.active:hover {
    color: white;
    background: var(--secondary-colour);
    border: 1px solid var(--secondary-colour);
    cursor: default;
}

#buttons .title {
    padding: 0;
    margin: 15px 0 0;
    background: transparent;
    color: #222;
    font-weight: 700;
    font-size: 18px;
}

#buttons b {
    font-weight: 500;
}

#buttons select {
    margin-top: 15px;
}

#buttons i {
    font-style: normal;
}

/***** MESSAGES *****/

.message {
    cursor: zoom-in;
    color: var(--secondary-colour);
}

/***** BARS *****/

.bar_container {
    background: #ccc;
    display: inline-block;
    border-radius: 3px;
    margin-right: 4px;
    z-index: -1000;
    width: 100px;
    height: 10px;
    font-size: 10px;
}

.bar {
    background: black;
    display: inline-block;
    border-radius: 3px;
    margin-right: 4px;
    z-index: -1000;
    height: 10px;
    font-size: 10px;
}

.bar_container .bar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/***** MISC *****/

.chart {
    padding: 1px 0 !important;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: var(--secondary-colour);
    border-bottom: 2px dotted transparent;
}

a:hover {
    color: var(--secondary-colour);
    xborder-bottom: 2px dotted var(--secondary-colour);
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;
}

p {
    margin: 0;
    padding: 0;
}

/***** TOOLTIP *****/

#tt {
    background: rgba(0, 0, 0, 1);
    text-align: center;
    color: #fff;
    max-width: 200px;
    top: 0;
    left: 0;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 13px;
    opacity: 1;
    z-index: 99999;
    padding: 0;
    margin: 0;
    pointer-events: none;
}

#tt.big {
    text-align: left;
    max-width: 500px;
}

#tooltip_text {
    margin: 5px;
    padding: 0;
    line-height: 1.1em;
    opacity: 1;
    pointer-events: none;
}

#tooltip_text img {
    margin-bottom: -2px;
    pointer-events: none;
}

.studio {
    max-width: 180px;
    background: white;
    padding: 2px;
}

.ttt {
    text-decoration: #666 underline dotted;
    text-decoration-thickness: 2px;
}

th.ttt {
    text-decoration: #fff underline dotted;
    text-decoration-thickness: 2px;
}

/**** BORDERS *****/


/**** TABLES *****/

#grid {
    text-align: center;
    font-size: 12px;
    padding: 4px;
}

/**** BOXES *****/

.box {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 6px;
}

.box th {
    text-align: center;
}

.number {
    font-size: 300%;
    color: #222;
    margin: 0 8px 5px;
    text-align: center;
}

/***** GALLERY *****/

.gallery {
    background: white;
    margin-bottom: 10px;
    border-radius: 12px 12px 8px 8px;
    padding: 0;
    display: block;
    max-width: 1320px; /* 5=665, 8=1059, 10=1320 */
}

.gallery * {
    vertical-align: top;
}

.gallery .title {
    padding: 5px 8px;
    margin: 0 0 8px;
    background: var(--primary-colour);
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: 500;
    font-size: 18px;
}

.gallery .inside {
    padding: 0 5px;
}

.gallery .poster {
    margin: 3px 5px 0;
    border-radius: 5px;
    background: black;
    padding: 3px 2px;
}

.gallery .poster:hover {
    background: var(--secondary-colour);
}

.gallery .item {
    display: inline-block;
    width: 131px;
    margin-right: 0;
    margin-bottom: 7px;
    text-align: center;
}

.gallery .item .empty {
    background: #555;
    width: 115px;
    height: 173px;
    margin-left: 1px;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .item img {
    width: 115px;
    height: 173px;
}

.gallery .item .details {
    margin: 3px 0 0;
    font-size: 12px;
}

.gallery .lowlight {
    opacity: 0.5;
}

.gallery .lowlight:hover {
    opacity: 1;
}

#posters {
    background: white;
    border-radius: 8px;
    padding: 4px 4px 0;
    max-width: 1180px;
}

#posters img {
    margin: 4px;
}

/***** FLAGS *****/

.flag {
    vertical-align: bottom;
    margin-bottom: 1px;
    height: 15px;
    width: 20px;
    border: 1px solid black;
}

/***** CHARTS *****/

#outside {
    background: white;
    border-radius: 12px 12px 8px 8px;
    display: inline-block;
    margin-bottom: 10px;
}

.highcharts-figure {
    border-radius: 8px;
}

.highcharts-title {
    fill: black !important;
    color: white;
}

.highcharts-xaxis .highcharts-tick {
    stroke: #888;
}

.highcharts-data-label span {
    background: white;
}

#outside .title {
    padding: 5px 8px;
    margin: 0 0 10px;
    background: var(--primary-colour);
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: 500;
    font-size: 18px;
}

.subtitle {
    opacity: 0.7;
    font-size: 70%;
    vertical-align: baseline;
}

/***** BUTTONS *****/

button {
    cursor: pointer;
    color: var(--secondary-colour);
    background: white;
    border: 0;
    border-radius: 0;
    border-bottom: 6px solid #666;
    padding: 5px;
    margin: 15px 0 5px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    display: block;
}
button:hover {
    margin-top: 16px;
    color: var(--secondary-colour);
    border-bottom: 5px solid var(--secondary-colour);
}

button:active {
    margin-top: 20px;
    color: var(--secondary-colour);
    border-bottom: 1px solid var(--secondary-colour);
}

.clickable {
    cursor: pointer;
}

/***** MOBILE *****/

@media (max-height: 650px) {
    #backdrop {
        display: none;
    }

    #buttons {
        top: 20px;
        border-radius: 8px;
    }
}

@media (max-width: 900px) {

    body {
        margin: 20px;
    }

    #menu_background,
    #backdrop {
        display: none;
    }

    #buttons {
        position: initial;
        display: block;
        width: initial;
        top: auto;
        left: auto;
        border-radius: 8px;
        margin-bottom: 50px;
        background: white;
        padding-bottom: 22px;
    }
}
