[submodule "film-barcodes"]
	path = film-barcodes
	url = https://github.com/Robson/Film-Barcodes-Visualisation
[submodule "number-1s"]
	path = number-1s
	url = https://github.com/Robson/UK-Singles-Chart-Number-1s
[submodule "in-character"]
	path = in-character
	url = https://github.com/Robson/In-Character
[submodule "film-franchise-ratings"]
	path = film-franchise-ratings
	url = https://github.com/Robson/Film-Franchise-Ratings
[submodule "white-noise-image-generator"]
	path = white-noise-image-generator
	url = https://github.com/Robson/White-Noise-Image-Generator
[submodule "space-generator"]
	path = space-generator
	url = https://github.com/Robson/Space-Generator
[submodule "yogscast-youtube-statistics"]
	path = yogscast-youtube-statistics
	url = https://github.com/Robson/Yogscast-YouTube-Statistics
[submodule "minecraft-glazed-terracotta-pattern-generator"]
	path = minecraft-glazed-terracotta-pattern-generator
	url = https://github.com/Robson/Minecraft-Glazed-Terracotta-Pattern-Generator
[submodule "emoji-match"]
	path = emoji-match
	url = https://github.com/Robson/Emoji-Match
[submodule "lottery-simulator"]
	path = lottery-simulator
	url = https://github.com/Robson/Lottery-Simulator
[submodule "reel-time"]
	path = reel-time
	url = https://github.com/Robson/Reel-Time
