body {
	font-family: rubik, sans-serif;
	font-size: 13px;
	text-align: center;
}

table {
	margin: 0 auto;
	width: 90%;
	max-width: 300px;
}

td {
	font-family: roboto slab, serif;
	font-size: 20px;
	height: 50px;
	background: #000;
	color: #0f0;
	cursor: pointer;
	width: 33.33%;
}

.help {
	font-size: 16px;
}

input {
	font-size: 15px;
	
}

#number,
#answer {
	font-weight: bold;
}

.yes {
	font-weight: bold;
	color: #080;
}

.no {
	font-weight: bold;
	color: #a00;
}